@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Normal dots */
.swiper-pagination-bullet {
  background-color: #ffffff; /* inactive dot */
  opacity: 0.6;
}

/* Active dot */
.swiper-pagination-bullet-active {
  background-color: #000000; /* active dot */
  opacity: 1;
}

/* react-inner-image-zoom minimal required styles */
.iiz {
  position: relative;
  display: inline-block;
}

.iiz__img {
  display: block;
  max-width: 100%;
}

.iiz__zoom-img {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
  max-width: none;
  background: white;
  border: 1px solid #e5e7eb; /* tailwind gray-300 */
}

.iiz__zoom-img--hidden {
  display: none;
}
